* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background: url("SoundImg/headphones.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar {
  width: 88%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 140px;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
.navbar ul li a:hover {
  color: rgb(243, 233, 233);
  transform: scale(1.1); /* slightly zoom */
  cursor: pointer;
}

.content {
  width: 100%;
  position: relative;
  float: none;
  margin-top: 40px;
}

.left-col {
  margin-left: 6%;
}
.left-col h1 {
  font-size: 90px;
  color: #f1d5d5;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 110px;
  float: left;
}
.right-col {
  float: right;
  margin-right: 6%;
  margin-top: 120px;
  display: flex;
  align-items: center;
}

.right-col p {
  font-size: 18px;
  color-scheme: #251dab;
  font-weight: 400;
  color: #fff;
  margin-right: 15px;
}
.icon {
  width: 80px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .container ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: underline;
  }

  .content {
    width: 100%;
    position: relative;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  .left-col h1 {
    font-size: 40px;
    line-height: 50px;
    float: none;
  }

  .right-col {
    margin-top: 20px;
    float: none;
    justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 1023px) {
  .container ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: underline;
  }

  .content {
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .left-col h1 {
    font-size: 60px;
  }
  .right-col {
    float: none;
    margin-right: 6%;
    margin-top: 0px;
  }
}

@media (max-width: 768) {
  .left-col h1 {
    font-size: 60px;
  }
}
@media (max-width: 1023px) {
  .left-col h1 {
    font-size: 70px;
  }
}
